@{
    ViewData["Title"] = "Home Page";
}


<html>
    <head>
        <style>
            #what-is-container{
                 margin-top: 75px;
                 font-family: "Lucida Console", "Courier New", monospace;  
                 color:black;
                 background-color:cadetblue;
                 border-style: ridge; 
             }
        </style>
    </head>
    <body style="background-color:lightgray">
        <div class="container">
           <div id = "what-is-container">
               <h1 class="display-4" id = "head">Pomodoro Tracker</h1>
               <p>What is Pomodoro Technique?<br /> <br />
               The Pomodoro Technique is a time management system that encourages people to work with the time
               they have—rather than against it. Using this method, you break your workday into 25-minute chunks
               separated by five-minute breaks. These intervals are referred to as pomodoros. After about four 
               pomodoros, you take a longer break of about 15 to 20 minutes.<br /> <br />
               STEP 1 : Pick a task.<br />
               STEP 2 : Set a 25-minute timer<br />
               STEP 3 : Work on your task until the time is up<br />
               STEP 4 : Take a 5-minute break<br />
               STEP 5 : Every 4 pomodoros, take a longer break.</p>
           </div>
       </div>


    </body>
</html>

