@{
    ViewData["Title"] = "Home Page";
}


<html>
    <head>

        <link rel="stylesheet" href="~/css/slide.css" />
    
    </head>
    <body style="background-color:rgb(217,85,80)">

    <div class="slideshow-container">


      <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <img src="~/images/image1.jpg" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <img src="~/images/image2.jpg" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <img src="~/images/image3.jpg" style="width:100%">
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="~/images/image4.jpg" style="width:100%">
      </div>

      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span> 
    </div>

    <script src="~/js/slide.js"></script>
    </body>
</html>

